.intro {
  font-size: 40px;
  font-family: georgia;
}

.welcome {
  font-size: 25px;
}

body {
  background-color: lightblue;
}

img {
  border-radius: 50%;
}

.contact {
  margin: 5px;
  padding: 5px;
  border: 10px dotted grey;
  float: right;
  width: 200px;
}

.contact p {
  font-weight: bold;
}

.phone {
  font-style: italic;
}

.copyright {
  margin: 5px;
  padding: 5px;
  border: 10px dotted white;
  float: right;
  width: 200px;
}

.copyright p {
  font-weight: bold;
}

.resize {
  width: 20%;
}

.learnmore {
  margin: 5px;
  padding: 5px;
  border: 10px dotted purple;
  float: right;
  width: 200px;
  font-weight: bold;
}
