.intro {
  font-size: 40px;
  font-family: georgia;
}

.welcome {
  font-size: 25px;
}

body {
  background-color: lightblue;
}

img {
  border-radius: 50%;
}

.contact {
  margin: 5px;
  padding: 5px;
  border: 10px solid grey;
  float: right;
  width: 300px;
}

.phone {
  font-style: italic;
}
